<div class="row">
  <div class="col-md-7">Search:<input ng-model="query"></div>
  <div class="col-md-3 col-md-offset-2"><a href="#/school/new" class="btn btn-primary btn-sm">Add New School</a></div>
</div>
<div class="row">
  <div class="col-md-12"><br/></div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <tr ng-repeat="school in schools | filter:query">
        <td>{{school.name}}</td>
        <td>{{school.address}}</td>
        <td>
          <a class="btn btn-primary btn-sm" href="#/schools/{{school.id}}">View</a>
        </td>
      </tr>
    </table>
  </div>
</div>
